USE [master]
GO
/****** Object:  Database [FoodieDB]    Script Date: 10/4/2024 8:28:04 PM ******/
CREATE DATABASE [FoodieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodieDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodieDB]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UserId] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[ImageUrl] [varchar](1000) NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Subject] [varchar](100) NULL,
	[Message] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Status] [varchar](100) NULL,
	[PaymentId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[OrderTotal] [decimal](10, 2) NULL,
	[Price] [decimal](10, 2) NULL,
	[OrderNumber] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[CardName] [varchar](100) NULL,
	[CvvNumber] [int] NULL,
	[PaymentMode] [varchar](100) NULL,
	[ExpiryDate] [datetime] NULL,
	[CardNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](100) NULL,
	[Description] [varchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[ImageUrl] [varchar](1000) NULL,
	[CategoryId] [int] NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[PostCode] [int] NULL,
	[PhoneNumber] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [int] NULL,
	[Type] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [ProductId], [Quantity], [UserId], [Price], [TotalPrice]) VALUES (12, 1, 3, 5, CAST(14.00 AS Decimal(10, 2)), CAST(14.00 AS Decimal(10, 2)))
INSERT [dbo].[Carts] ([CartId], [ProductId], [Quantity], [UserId], [Price], [TotalPrice]) VALUES (13, 10, 2, 5, CAST(2.00 AS Decimal(10, 2)), CAST(4.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [CreatedOn], [IsActive]) VALUES (1, N'Burger', N'', CAST(N'2024-05-13T13:37:52.020' AS DateTime), 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [CreatedOn], [IsActive]) VALUES (2, N'Pizza Slice', N'', CAST(N'2024-05-13T13:39:52.097' AS DateTime), 1)
INSERT [dbo].[Categories] ([CategoryId], [Name], [ImageUrl], [CreatedOn], [IsActive]) VALUES (3, N'Desserts', N'', CAST(N'2024-05-13T13:39:56.947' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice]) VALUES (1, 5, 10, 2, CAST(2.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice]) VALUES (2, 6, 1, 1, CAST(14.00 AS Decimal(10, 2)), CAST(14.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [Quantity], [Price], [TotalPrice]) VALUES (3, 9, 9, 3, CAST(8.00 AS Decimal(10, 2)), CAST(24.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [PaymentId], [OrderDate], [OrderTotal], [Price], [OrderNumber]) VALUES (1, NULL, N'Pending', NULL, CAST(N'2024-09-06T16:10:43.807' AS DateTime), NULL, NULL, N'65E0DA0D-0DA5-40D9-AA66-C27F9967E761')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [PaymentId], [OrderDate], [OrderTotal], [Price], [OrderNumber]) VALUES (2, 2, N'Pending', NULL, CAST(N'2024-09-13T14:54:47.620' AS DateTime), NULL, NULL, N'89B1995D-0842-49A6-A262-CD36B63C9E51')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Status], [PaymentId], [OrderDate], [OrderTotal], [Price], [OrderNumber]) VALUES (3, 3, N'Pending', NULL, CAST(N'2024-09-14T12:15:46.810' AS DateTime), NULL, NULL, N'2B0F1A2D-2610-4AE9-9D8D-22A9020B48DB')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [CardName], [CvvNumber], [PaymentMode], [ExpiryDate], [CardNumber]) VALUES (1, N'string', 123, N'cash', CAST(N'2024-05-13T03:12:57.690' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive]) VALUES (1, N'RabelChook Burger', N'A plant based veggie patty burger', CAST(14.00 AS Decimal(10, 2)), 1, N'https://images.thespinoff.co.nz/1/2020/10/REBELCHOOK-1.jpeg?w=640', 7, 1)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive]) VALUES (2, N'RabelChook Burger', N'A plant based veggie patty burger', CAST(13.00 AS Decimal(10, 2)), 1, N'', 7, 0)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive]) VALUES (3, N'Choclate pie', N'Joucie sponzy cake bite fiiled with choclate', CAST(6.00 AS Decimal(10, 2)), 2, N'', 3, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PostCode], [PhoneNumber], [CreatedOn], [IsActive], [Type]) VALUES (1, N'TestUser10', N'mytest@gmail.com', N'employee10', N'66Manakura Street Russley', 8042, 642264226, CAST(N'2024-05-10T02:11:29.753' AS DateTime), 1, N'User')
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PostCode], [PhoneNumber], [CreatedOn], [IsActive], [Type]) VALUES (2, N'Admin', N'admin@gmail.com', N'manager', N'67Manakura Street Russley', 8042, 44664455, CAST(N'2024-05-10T02:47:06.307' AS DateTime), 1, N'Admin')
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PostCode], [PhoneNumber], [CreatedOn], [IsActive], [Type]) VALUES (3, N'David', N'biggdavid@gmail.com', N'onform', N'65b Hallswell', 8044, 18180022, CAST(N'2024-05-10T02:50:16.567' AS DateTime), 1, N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Payment1] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([PaymentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Payment1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCategory]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddCategory](@Name VARCHAR(100),@ImageUrl VARCHAR(1000), @IsActive INT,
    @Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Categories WHERE Name = @Name)
    BEGIN
        INSERT INTO Categories (Name, ImageUrl, CreatedOn, IsActive)
        VALUES (@Name, @ImageUrl, GETDATE(), @IsActive);
        
        SET @Output_Message = 'Category added successfully';
    END
    ELSE
    BEGIN
        SET @Output_Message = 'Category already exists';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddToCart]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddToCart]
(
    @CartId INT = NULL,
    @ProductId INT = NULL,
    @Email VARCHAR(100) = NULL,
    @Quantity INT = NULL, 
    @Price DECIMAL(10,2) = NULL,
    @TotalPrice DECIMAL(10,2) = NULL,
    @Output_Message VARCHAR(100) OUTPUT
)
AS
BEGIN
    -- Initialize the output message
    SET @Output_Message = '';

    -- Check if ProductId exists in the Products table
    IF NOT EXISTS (SELECT 1 FROM Products WHERE ProductId = @ProductId)
    BEGIN
        SET @Output_Message = 'Invalid ProductId. The product does not exist.';
        RETURN;
    END

    -- Check if UserId exists for the given Email
    DECLARE @UserId INT;
    SELECT @UserId = UserId
    FROM Users
    WHERE Email = @Email;

    IF @UserId IS NULL
    BEGIN
        SET @Output_Message = 'Invalid Email. User does not exist.';
        RETURN;
    END

    -- Get the price of the product
    SELECT @Price = Price
    FROM Products
    WHERE ProductId = @ProductId;

    -- Calculate total price
    SET @TotalPrice = @Price * @Quantity;

    -- Check if the item already exists in the cart
    IF NOT EXISTS (SELECT 1 FROM Carts WHERE UserId = @UserId AND ProductId = @ProductId)
    BEGIN
        -- Insert new item into the cart
        INSERT INTO Carts (UserId, ProductId, Quantity, Price, TotalPrice)
        VALUES (@UserId, @ProductId, @Quantity, @Price, @TotalPrice);

        SET @Output_Message = 'Item has been added to cart';
    END
    ELSE
    BEGIN
        -- Update the quantity of the existing item
        UPDATE Carts
        SET Quantity = Quantity + @Quantity, TotalPrice = Price * Quantity
        WHERE UserId = @UserId AND ProductId = @ProductId;

        SET @Output_Message = 'Item quantity updated in cart';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUpdateProduct]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_AddUpdateProduct](@ProductId INT=NULL,@ProductName VARCHAR(100)=NULL,@Description VARCHAR(100)=NULL,@Price DECIMAL(10,2)=NULL,
@Quantity INT=NULL,@ImageUrl VARCHAR(100)=NULL,@CategoryId INT=NULL,@IsActive INT=NULL,
@ActionType VARCHAR(100)=NULL,@Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
  IF @ActionType='ADD'
     BEGIN
      INSERT INTO Products(ProductName,Description,Price,Quantity,ImageUrl,CategoryId,IsActive)
      VALUES(@ProductName,@Description,@Price,@Quantity,@ImageUrl,@CategoryId,@IsActive);
	    SET @Output_Message='Product added successfully'
	
	 END
  ELSE
      BEGIN
	     SET @Output_Message='Product not added'
	  END



IF @ActionType = 'UPDATE'
	BEGIN
		UPDATE Products SET ProductName=@ProductName,Description=@Description,Price=@Price,Quantity=@Quantity,ImageUrl=@ImageUrl,CategoryId=@CategoryId		
		WHERE ProductId = @ProductId;
		SET @Output_Message='Product updated successfully'
	END
	ELSE
	BEGIN
	     SET @Output_Message='Product not updated'
	  END



IF @ActionType = 'Delete'
	BEGIN
		UPDATE Products SET IsActive = 0 WHERE ProductId = @ProductId;
		SET @Output_Message='Item deleted successfully'
	END

	ELSE
	BEGIN
	     SET @Output_Message='Item could not found for delete'
	  END



IF @ActionType = 'Get'
	BEGIN
		SELECT * FROM Products WHERE IsActive= 1;
		SET @Output_Message='Product fetched successfully'
	END
     
	 ELSE
	BEGIN
	     SET @Output_Message='Product is not found'
	  END



IF @ActionType = 'GetByID'
	BEGIN
		SELECT * FROM Products WHERE ProductId = @ProductId;
		SET @Output_Message='Product details fetched'
	END
	 ELSE
	BEGIN
	     SET @Output_Message='Product details are not found '
	  END

END

GO
/****** Object:  StoredProcedure [dbo].[sp_CartList]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CartList](@Email VARCHAR(100))
AS
BEGIN
    IF @Email != 'Admin'
	BEGIN
		SELECT C.CartId,  C.Quantity, C.TotalPrice,P.Price FROM Carts C 
		INNER JOIN Products P ON P.ProductId = C.CartId
		INNER JOIN Users U ON U.UserId = C.UserId
		WHERE U.Email =  @Email;
	END
	ELSE
	BEGIN
		SELECT P.ProductId,  P.Price,  P.Quantity,  0 AS TotalPrice FROM Products P;
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUser]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteUser]( @UserId INT,@Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
  IF EXISTS (SELECT 1 FROM Users WHERE UserId = @UserId)
  BEGIN
    UPDATE Users
    SET IsActive = 0
    WHERE UserId = @UserId;
    
    SET @Output_Message = 'User deleted successfully';
  END
  ELSE
  BEGIN
    SET @Output_Message = 'User not found';
  END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Login](@Email VARCHAR(100), @Password VARCHAR(100)) 
AS
BEGIN
	
	SELECT * FROM Users WHERE Email = @Email AND Password = @Password AND IsActive=1;
	
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OrderList]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_OrderList](
@Email VARCHAR(100)=NULL, @Type VARCHAR(100)=NULL,@OrderId INT = NULL,@Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
DECLARE @UserId INT;

 IF @Type = 'Admin'
    BEGIN
        SELECT O.OrderId, OrderNumber, OrderTotal, Status, PaymentId,
               CONVERT(NVARCHAR, O.OrderDate, 107) AS OrderDate,
               CONCAT(U.UserName, ' ') AS CustomerName,OI.Quantity, OI.TotalPrice, 
			   P.Price , P.ProductName, P.Description,P.ImageUrl
        FROM Orders O
		INNER JOIN OrderItems OI ON O.OrderId = OI.OrderId
    INNER JOIN Products P ON OI.ProductId = P.ProductId 
        INNER JOIN Users U ON U.UserId = O.UserId;
        
        SET @Output_Message = 'Order details fetched for Admin';
    END
    -- Checking if the user is a 'User'
    ELSE IF @Type = 'User'
    BEGIN
        SELECT O.OrderId, OrderNumber, OrderTotal, Status, PaymentId,
               CONVERT(NVARCHAR, O.OrderDate, 107) AS OrderDate,
               CONCAT(U.UserName, ' ') AS CustomerName,
			   OI.Quantity, OI.TotalPrice, P.Price , P.ProductName, P.Description,P.ImageUrl
        FROM Orders O
		INNER JOIN OrderItems OI ON O.OrderId = OI.OrderId
    INNER JOIN Products P ON OI.ProductId = P.ProductId 
        INNER JOIN Users U ON U.UserId = O.UserId
        WHERE U.Email = @Email;
        
        SET @Output_Message = 'Order details fetched for User';
    END
    -- Checking if it's for 'UserItem'
    ELSE IF @Type = 'UserItem'
    BEGIN
        SELECT O.OrderId, O.OrderNumber, O.OrderTotal, O.Status,
               P.ProductName, P.Description, P.CategoryId, P.Price, P.ImageUrl, 
               OI.Quantity, OI.TotalPrice, O.OrderDate AS CreatedOn,
               CONCAT(U.UserName, ' ') AS CustomerName
        FROM OrderItems OI
        INNER JOIN Orders O ON O.OrderId = OI.OrderId
        INNER JOIN Products P ON OI.ProductId = P.ProductId
        INNER JOIN Users U ON U.UserId = O.UserId
        WHERE O.UserId = @UserId  -- Filter by UserId only, 
        
        SET @Output_Message = 'Order item details fetched';
    END
    ELSE
    BEGIN
        SET @Output_Message = 'Invalid Type Provided';
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Payment]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Payment](@PaymentId INT=NULL,@CardName VARCHAR(100)=NULL,@CvvNumber INT=NULL,
@PaymentMode VARCHAR(100)=NULL,@ExpiryDate DATETIME=NULL,@CardNumber INT=NULL,@Output_Message VARCHAR(100) OUTPUT)

AS
 BEGIN
 IF @PaymentMode='CreditCard'
   BEGIN
    INSERT INTO Payment(CardName,CvvNumber,PaymentMode,ExpiryDate,CardNumber)
    VALUES(@CardName,@CvvNumber,@PaymentMode,@ExpiryDate,@CardNumber);
	SET @Output_Message='Payment processed successfully '
	END
	ELSE
	BEGIN 
	SET @Output_Message='Payment declined '
	END

	IF @PaymentMode='Cash'
	BEGIN
	UPDATE Payment SET PaymentMode=@PaymentMode WHERE PaymentId=@PaymentId;
	SET @Output_Message='Payment processed successfully '
	END
	ELSE
	BEGIN 
	SET @Output_Message='Payment declined '
	END
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_PlaceOrder]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_PlaceOrder](@Email  VARCHAR(100))
   AS
   BEGIN
   DECLARE @OrderId INT;
    DECLARE @OrderNumber VARCHAR(100);
    DECLARE @OrderTotal DECIMAL(10, 2);
    DECLARE @UserId INT;
    DECLARE @PaymentId INT = 1; -- Modify based on actual payment logic
    DECLARE @Price DECIMAL(10, 2) = NULL;

    -- Generate a unique order number
    SET @OrderNumber = CONVERT(VARCHAR(100), NEWID());

    -- Get the UserId from the Users table using the provided email
    SET @UserId = (SELECT UserId FROM Users WHERE Email = @Email);

   

    IF OBJECT_ID('tempdb..#TempOrder') IS NOT NULL DROP TABLE #TempOrder;
    SELECT * INTO #TempOrder FROM Carts 
    WHERE UserId = @UserId;

    
    SET @OrderTotal = ISNULL((SELECT SUM(TotalPrice) FROM #TempOrder), 0);
    SET @Price = ISNULL((SELECT SUM(Price) FROM #TempOrder), 0); -- Sum of item prices


   
    INSERT INTO Orders(UserId, OrderNumber, OrderTotal, Status, PaymentId, OrderDate, Price)
    VALUES(@UserId, @OrderNumber, @OrderTotal, 'Pending', @PaymentId, GETDATE(), @Price);

    
   SET @OrderID = (SELECT OrderId FROM Orders WHERE OrderNumber = @OrderNumber);

    -- Insert order items into the OrderItems table
    INSERT INTO OrderItems(OrderId, ProductId, Price, Quantity, TotalPrice)
    SELECT @OrderId, ProductId, Price, Quantity, ISNULL(TotalPrice, 0) FROM #TempOrder;

    -- Delete items from the cart after placing the order
    DELETE FROM Carts WHERE UserId = @UserId;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_Registration]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Registration](@UserName VARCHAR(100),@Email VARCHAR(100),@Password VARCHAR(100),@Address VARCHAR(100),@PostCode INT,
@PhoneNumber INT,@Type VARCHAR(100),@Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
      IF NOT EXISTS (SELECT 1 FROM Users WHERE  Email=@Email AND IsActive=1)
	BEGIN
		INSERT INTO Users(UserName,Email,Password,Address,PostCode,PhoneNumber,CreatedOn,IsActive,Type)
		VALUES(@UserName,@Email,@Password,@Address,@PostCode,@PhoneNumber,GETDATE(),1,@Type);
		SET @Output_Message = 'User registered successfully';
	END
	ELSE
	BEGIN
		SET @Output_Message = 'User registration failed';
	END
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveToCart]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RemoveToCart](@CartId INT, @Email VARCHAR(100),@Output_Message VARCHAR(100) OUTPUT)    
AS    
BEGIN    
  DECLARE @UserID INT; 
  SELECT @UserId = UserId
    FROM Users
    WHERE Email = @Email;

   IF @UserId IS NULL
    BEGIN
        SET @Output_Message = 'Invalid Email. User does not exist.';
        RETURN;
    END

    -- Check if the item exists in the cart for the given UserId and CartId
    IF EXISTS (SELECT 1 FROM Carts WHERE UserId = @UserId AND CartId = @CartId)
    BEGIN
        -- Remove the item from the cart
        DELETE FROM Carts
        WHERE UserId = @UserId AND CartId = @CartId;

        SET @Output_Message = 'Item has been removed from cart';
    END
    ELSE
    BEGIN
        SET @Output_Message = 'Item does not exist in the cart';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UpdateOrderStatus](@OrderNumber VARCHAR(100) = NULL, @Status VARCHAR(100) = NULL,@Output_Message VARCHAR(100) OUTPUT)
AS
BEGIN
  IF EXISTS(SELECT  1 FROM Orders WHERE OrderNumber = @OrderNumber )
  BEGIN
	UPDATE Orders SET Status = @Status WHERE OrderNumber = @OrderNumber;
	SET @Output_Message='Order status updated successfully'
	  END 
	  ELSE
	  BEGIN
	  SET @Output_Message='Order status could not be updated'
	  END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserProfile]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UpdateUserProfile](@UserId INT,@UserName VARCHAR(100),@Email VARCHAR(100),@Password VARCHAR(100),@Address VARCHAR(100),@PostCode INT,
@PhoneNumber INT,@IsActive INT,@Type VARCHAR(100),@Output_Message VARCHAR(100) OUTPUT)
AS
 BEGIN
  IF  EXISTS (SELECT 1 FROM Users WHERE UserId=@UserId AND IsActive=1)
   BEGIN
   UPDATE Users SET UserName=@UserName,Email=@Email,Password=@Password,Address=@Address,PostCode=@PostCode,PhoneNumber=@PhoneNumber,
   Type=@Type
   
   WHERE UserId=@UserId AND IsActive=1;
    SET @Output_Message='User profile updated successfully';
	        END

	   ELSE
	       BEGIN
           SET @Output_Message='Please try again later';
	      END
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserList]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UserList](@Output_Message VARCHAR(100) OUTPUT)
AS 
BEGIN
IF  EXISTS (SELECT 1 FROM Users WHERE IsActive=1)
	 BEGIN
	   SELECT*FROM Users WHERE IsActive=1;
	   SET @Output_Message='Users details fetched'
	 END

	 ELSE
	 BEGIN
	   SET @Output_Message='Users details are not found'
	 END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserProfile]    Script Date: 10/4/2024 8:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_UserProfile](@Email VARCHAR(100),@Output_Message VARCHAR(100) OUTPUT)
	AS
	BEGIN
	   IF EXISTS (SELECT 1 FROM Users WHERE Email=@Email AND IsActive=1)
	    BEGIN
		  SELECT * FROM Users WHERE Email=@Email AND IsActive=1;
		  SET @Output_Message = 'User Available';
		 END

		 ELSE
		   BEGIN
		   SET @Output_Message = 'User NOT Available';
		   END
    END
GO
USE [master]
GO
